body {
  margin: 0 auto;
  text-align: center;
  background-color: #29B6F6;
  color: white;
  font-family: arial, helvetica, sans-serif;
}

header {
  margin-top: 2em;
  font-size: 3em;
}

main {
  margin: 3em;
}

#temperature {
  font-size: 10em;
}

#units {
  vertical-align: top;
  font-size: 5em;
  display: none;
}

#last-updated {
  font-size: 2em;
  display: none;
  margin: 1em;
}

#timestamp {
  font-size: 1em;
}

@media only screen and (max-device-width: 480px) {
    header {
      font-size: 4em;
    }

    #temperature {
      font-size: 22em;
    }
    
    #units {
      font-size: 11em;
    }

    #last-updated {
      font-size: 4em;
      margin: 1em 0;
    }
    
    #timestamp {
      font-size: 2em;
    }
}
